.app {
  text-align: center;
  background: url('./images/woman-dropping-banknotes-into-jar-with-rolled-banknotes-table-papers-money-table.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: absolute;
  width: 100%;
}
.containerApp{
    margin-top: 20vh;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.295);
    padding: 5% 15%;
    width:50%;
    margin:15vh auto;
}
@media only screen and (max-width:900px){
  .containerApp{
    width: 90%;
  }
}